@import "partials/mixins";
.change_password_block {
  padding: 6rem 3rem 1rem;
  p {
    text-align: center;
    font-size: 1.875rem;
    color: #eeeeee;
    line-height: 1.3;
    &:first-child {
      margin-bottom: 3rem;
    }
  }
}
.form {
  &.bg_line {
    margin-top: 7rem;
    .form-group {
      position: relative;
      .form-control {
        border-color: #5b5d71;
      }
      .show_content {
        position: absolute;
        content: "";
        @include flex-center;
        width: 6rem;
        height: 6rem;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        .show_content_icon {
          width: 3.35rem;
        }
        &.reg {
          .show_content_icon {
            width: 4.14rem;
          }
        }
      }
    }
    .form-check {
      justify-content: flex-end;
    }
  }
  &.pers {
    margin-top: 0;
  }
}
