@import "partials/mixins";

.menu_group {
  width: 100%;
  margin-top: 2.5rem;
  padding-left: 2.1rem;
  &.history_hg {
    min-height: 62.6875rem;
  }
  .menu_group_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    .menu_group_item {
      display: flex;
      align-items: center;
      height: 9.625rem;
      .menu_group_link {
        display: flex;
        width: 100%;
        height: 70%;
        align-items: center;

        .menu_group_title {
          margin-left: 1.8125rem;
          font-size: 2.25rem;
        }
      }
      .cash_back_tile {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.8125rem;
        .cash_back_status {
          padding-left: 0.5rem;
          color: #ffffff;
          font-size: 1.375rem;
        }
        .cash_back_score {
          display: flex;
          font-size: 2.625rem;
          line-height: 1.5;
          p {
            margin-left: 0.5rem;
          }
        }
        .cash_back_progress_line {
          position: relative;
          width: 85%;
          height: 1rem;
          margin-top: 1rem;
          background-color: #474951;
          border-radius: 3rem;
        }
        .checked-progress_line {
          position: absolute;
          top: 0;
          left: 0;
          // width: 36%;
          max-width: 100%;
          height: 100%;
          background-color: #43a047;
          border-radius: 3rem;
        }
      }
      .menu_group_img {
        width: 7.6%;
      }
    }
  }
}
.withdraw_btn {
  @include flex-center;
  width: 14.25rem;
  height: 4.9375rem;
  margin-top: 1.25rem;
  margin-left: 5.1875rem;
  font-size: 2rem;
  background-color: #8c8d7a;
  font-family: "lbet-mt";
  border-radius: 2.6875rem;
  overflow: hidden;
  cursor: pointer;
}
