@import "partials/mixins";

.mobile_header {
  display: flex;
  padding: 0 0.8625rem;
  align-items: center;
  justify-content: space-between;
  .mobile_header_left {
    display: flex;
    align-items: center;
    .header_user_img {
      position: relative;
      width: 6.07rem;
      &.unverified {
        &::after {
          background-color: #ff4848;
        }
      }
      &.verified {
        &::after {
          background-color: #00d061;
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0.125rem;
        right: 0.625rem;
        display: block;
        width: 1.25rem;
        height: 1.25rem;

        border-radius: 50%;
      }
    }
    .user_info {
      display: flex;
      flex-direction: column;
      margin: 0 3rem 0 1rem;
      p {
        text-transform: capitalize;
        font-family: "lbet-mt";
        font-size: 1.5rem;
        color: #b4bad8;
      }
      span {
        color: #dcdff1;
        font-weight: bold;
        font-size: 2.875rem;
      }
    }
    .verification_btn {
      @include flex-center;
      //padding: 1.46875rem 3.025rem;
      width: 19.75rem;
      height: 4.9375rem;
      font-size: 2rem;
      color: #ffffff;
      font-family: "lbet-mt";
      background-color: #4885ff;
      border-radius: 43px;
      overflow: hidden;
      cursor: pointer;
    }
    .header_icon {
      width: 2.6425rem;
      cursor: pointer;
    }
    .header_title {
      margin-left: 2.975rem;
      font-size: 2.25rem;
    }
  }

  .close_btn {
    cursor: pointer;
    .close_btn_img {
      width: 2.6425rem;
      margin: 0.8rem;
    }
  }
}
